/*Universal Selectors*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    
}

body{

  font-size: 16px;
  color:black;

}


/* HOME PAGE */
.jumbotron{ 
    background-image: url('./images/landingPage2.png'); 
    background-size: cover; 
    background-position: center center;
    height: 100vh;
    width: 100vw;
    color: white;
  } 


  @font-face{

    font-family: 'Metropolis1920'; 
    src: local('Metropolis1920'), url(./fonts/Metropolis1920.otf) format('truetype');
        
  }

  .jumbotron-title{
    font-family: Metropolis1920, serif;
    color: white;
    font-size: 200px;
    text-shadow: 10px 30px 20px rgba(0,0,0,3);
    
}

.jumbotronContainer{
  padding: 50px;
}

.lead{
  text-shadow: 2px 4px 3px rgba(0,0,0,3);
  font-size: 25px;
}

.jumbotronButton{
  margin-left: 150px;
}

.jumbotronButtonDesc{
  height: 60px;
  width: 180px;
  background-color: #8b6d4b;;
  border: 5px;
  border-color: black;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotronButtonDesc:hover{
  background-color: transparent;
  border-color: black;
  border: 5px !important;
  color: white !important;
  text-decoration: none;
}

.home-2{
  display: flex;
  flex-direction: column;
  height: 500px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
}

.home-3{
  height: 500px;
  background-color: rgb(226, 232, 232);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}

.home-3Img > img{
  width: 350px;
}

.home-3Text{
  font-size: 40px;
  padding: 100px;
}

/* BUTTONS */

.btn:hover{
  background-color: white !important;
  border-color: black !important;
  color: black !important;
  outline: none !important;
}

.btn:focus{

  background-color: black;
  color: white;
  border-color: black;
  box-shadow: none;
}


/* NAVBAR COMPONENT*/
#navbar{

  background-color: #212121;
  /* position: absolute; */
  
}

.cartIcon {

  color: white;
}



.nav{

  justify-content: space-between;
   

}



.navItem-left{

  display: flex;
  flex-direction: row;
  
}

/* @media only screen and (max-width: 991px) {
  .navItem-left {
    flex-direction: column;
  }
} */


.navItem-right{

  display: flex;
  flex-direction: row;


}

.navLink{
  padding: 0px 5px;
  font-size: 17px;
}


/* PRODUCT CARD COMPONENT */
.productTitle{

  text-decoration: none;
  color: black;
}

.productPrice{

  font-weight: 200;
  font-size: 20px;
  
}


/*  FOOTER COMPONENT  */
.footer{

  position: relative;
  height: 300px;
  background-color: #212121;
    
  }
  
  
  .footer-1, .footer-2, .footer-3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;;
  
  }
  
  
  .footer-1 > h1 {
  
    font-family: 'Metropolis1920';
  }

  .footer-1Details{
    text-align: center;
  }
  
  
  .footer-1 > p {
  
    font-size: 14px;
    
  }
  
  
  .socialIcons{
    
    justify-content: center;
    align-items: center;
  
  }
  
  .socialIcons > a {
  
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  
  }
  
  
  .icon1 {
  
   background: #3B5999;
  }
  
  .icon2 {
  
    background: #E4405F;
   }
  
   .icon3 {
  
    background: #55ACEE;
   }
  
  
   .footer-2 {
  
    font-size: 15px;
    
   }
  
   .footer-2 > ul{
  
    list-style: none;
  
   }


  .footer-2 > ul > li > a{
    text-decoration: none;
    color: white;

  }

  .footer-2 > ul > li > a:hover {
    color: rgb(224, 152, 68)
 }


   
  .footer-3{
    font-size: 15px;
  }
  
   .payment {
  
    width: 250px;
    padding: 5px;
   }
  



/*  REGISTER PAGE  */

.Register{

  background: url('./images/register.png') no-repeat; background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.registerContainer{

  width: 30%;
  padding: 30px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  box-shadow: 0 0 10px #0000;
  backdrop-filter: blur(2px);
  color: white;
}

input[type='password'] {
  font-family: Verdana;
}


/* LOGIN PAGE  */

.Login{

  background: url('./images/landingPage3.png') no-repeat; background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.LoginContainer{

  width: 40%;
  padding: 30px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  box-shadow: 0 0 10px #0000;
  backdrop-filter: blur(2px);
  color: white;
  
 
}

/*  ADD PRODUCT PAGE  */
.addProduct{

  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addProductContainer{

  width: 50%;
  padding: 20px 20px;
  background-color: azure;
}

.createProductButton{

  display: flex;
  justify-content:space-between;
}


/* UPDATE PRODUCT PAGE */

.updateProduct{

  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.updateProductContainer{

  width: 50%;
  padding: 20px 20px;
  background-color: azure;
  
}



/*  SINGLE PRODUCT PAGE */

.quantityContainer{

  font-weight: 500;
  font-size: 15px;
}

.quantityContainer > span {

  border: 1px solid black;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 20px

}

.productButton{

  cursor: pointer;
  background-color: black;
  color: white;
}


/* CART PAGE */

.Cart{
  height: 100vh;
  width: 100vw;
}



.cartContainer{

  padding: 20px;
}

.cartTitle{

  font-weight: 300;
  text-align: center;
}


.cartButtons{

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.cartButtons > div{

  text-decoration: underline;
  cursor: pointer;
  font-weight: 450;
  padding: 20px;
}

.cartButton1{

  background-color: transparent;
  color: black;
  border-color: black;
  border-width: 1.5px;
  font-size: 15px;
  padding: 7px;
}

  .cartButton1:hover{
    background-color: black !important;
    border-color: black !important;
    box-shadow: none !important;
    color: white !important;

  }


.cartButton2{

  background-color: black;
  color: white;
  border-color: black;
  font-size: 15px;
  padding: 7px;
  
}

  .cartButton2:hover{
    background-color: white;
    border-color: black;
    color: black;
  }


.cartBottom{
  display: flex;
  justify-content: space-between;
}

.cartInfo{
  flex:3
}

.cartProduct{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.cartProductDetail{
  flex: 2;
  display: flex;

}

.cartImage{
  width: 200px;

}

.cartPrice{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.cartDetail{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cartQuantity{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #eee;
  font-size: 15px;
  font-weight: 300;
  margin: 5px;
  width: fit-content;
  padding: 2px;
}

.cartPriceDetail{
  font-size: 25px;
  font-weight: 200;
  margin: 5px;
}

hr{
  background-color: #eee;
  border: none;
  height: 1px;
}


.cartSummary{
  flex: 1;
  border: 0.5px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  height: 50vh;
}

.summaryTitle{
  font-weight: 200;
  margin-bottom: 30px;
}

.summaryPrice{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.summaryButton{
  background-color: black;
  color: white;
  border-color: black;
  font-size: 15px;
  padding: 7px;
  width: 100%;
  font-weight: 600;
}

.summaryButton:hover{
  background-color: white;
  border-color: black;
  color: black;
}


.cartIsEmpty{
  text-align: center;
  font-weight: 300;
  margin-top: 100px;
}